{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}?v=1.0">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'catalog/js/catalog.js' %}?v=1.0"></script>
{% endblock %}

{% block content %}
    <div class="search-bar-container">
        <div class="search-input-wrapper">
            <input type="text" placeholder="Поиск по сайту">
            <!-- <img src="" alt="Search Icon" class="search-icon"> -->
        </div>
        <button class="contact-us-btn">Связаться с нами</button>
    </div>

    <div class="breadcrumb">
        <div class="container">
            <a href="/">Главная</a>
            <span> / </span>
            <a href="/catalog">Каталог</a>
            <!-- Пример добавления нового уровня -->
            <!-- <span> / </span> -->
            <!-- <a href="/catalog/subcategory">Подкатегория</a> -->
        </div>
    </div>

    <section id="catalog" class="catalog-list">
        <div class="container">
            <h2>Категории товаров</h2>
            <p class="catalog-description">Мы создаём изделия, которые соответствуют в себе высокое качество, надёжность и инновационные требования.</p>
            <div class="catalog-grid">
                <div class="catalog-item">
                    <img src="{% static 'catalog/img/vodostochnye-sistemy.png' %}" alt="Водосточные системы">
                    <h3>Водосточные системы</h3>
                    <a href="#" class="arrow-btn">→</a>
                </div>
                <!-- Остальные элементы -->
            </div>
        </div>
    </section>
{% endblock %}