{% extends 'core/base.html' %}

{% block content %}
    <div class="search-bar-container">
        <div class="search-input-wrapper">
            <input type="text" placeholder="Поиск по сайту">
            <img src="" alt="Search Icon" class="search-icon">
        </div>
        <button class="contact-us-btn">Связаться с нами</button>
    </div>

    <div class="breadcrumb">
        <div class="container">
            <a href="/">Главная</a>
            <span> / </span>
            <a href="/catalog">Каталог</a>
          <span> / </span>
            <a href="/catalog/category">Название категории</a>
            <span> / </span>
            <a href="/catalog/category/product">Краска характеристика (описание)</a>
        </div>
    </div>

    <section id="product" class="product-details">
        <div class="container">
            <div class="product-content">
                <div class="product-image">
                    <img src="" alt="Product Image">
                </div>
                <div class="product-info">
                    <h1>Краска характеристика (описание)</h1>
                    <div class="product-characteristics">
                        <h3>Характеристики</h3>
                        <ul>
                            <li>Сатин-панель состоит из двух листов металла, между которыми расположен утеплитель</li>
                            <li>Утеплитель</li>
                            <li>Минеральная вата</li>
                            <li>Пенополиуретан</li>
                            <li>Пенополиизоцианурат</li>
                        </ul>
                        <p>
                            Обеспечивают высокую энергоэффективность, устойчивость к внешним воздействиям, что делает их уникальными для различных строительных проектов.
                        </p>
                    </div>
                    <div class="product-price">
                        <div class="price-details">
                            <p class="price">от 1800 ₽ / м²</p>
                            <p class="discount">до 1000 ₽ / 90%</p>
                        </div>
                        <div class="product-actions">
                            <button class="request-btn">Оставить заявку</button>
                            <button class="call-btn">Позвонить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="related-products" class="related-products">
        <div class="container">
            <h2>Похожие товары</h2>
            <div class="catalog-list">
                {% for item in related_products %}
                    <div class="catalog-item">
                        <img src="" alt="Item title">
                        <h3>ITEM TITLE</h3>
                        <p>Краткое описание</p>
                        <p class="item-price">от <!--{{ item.price }}--> ₽ / м²</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}